<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="alhrVEFydlM8Ng0ZGCVPFjUgWwEtAUMkLQscMh4rIyEsGwAaKgUUPA==">
        <link rel="shortcut icon" href="/images/krajee-logo.ico" type="image/x-icon">
        <link rel="icon" href="/images/krajee-logo.ico" type="image/x-icon">
        <title>Recommender system of food</title>
        <link href="http://plugins.krajee.com/assets/prod/all-krajee.css" rel="stylesheet">
        
        <link href="static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="static/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/bootstrap/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
<link href="http://plugins.krajee.com/assets/4696769/css/star-rating.min.css" rel="stylesheet">
<link href="http://plugins.krajee.com/assets/ec92c13a/css/select2.min.css" rel="stylesheet">
<link href="http://plugins.krajee.com/assets/ec92c13a/css/select2-addl.min.css" rel="stylesheet">
<link href="http://plugins.krajee.com/assets/ec92c13a/css/select2-krajee.min.css" rel="stylesheet">
 </head>
    <body onload="prettyPrint()">
             
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Food</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
            
          <form class="navbar-form navbar-right" action="show_all_foods" method="POST"  id="post-form2"> {% csrf_token %}
                <button type="submit" class="btn btn-success">Show all foods!</button>
          </form>   
           
          <form class="navbar-form navbar-right"  action="logout_view" > {% csrf_token %}
              <button type="submit" class="btn btn-success">Logout</button>
          </form>  
            
        </div><!--/.nav-collapse -->
      </div>
    </nav>
   
    <div class="container theme-showcase" role="main"> 
     
      
        
      <div class="container marketing"> 
      <div class="row">  
                                

        {% for food in list %} 
            <div class="col-lg-3">  
                <img class="img-rounded" src="{{ food.food_photo.url }}" alt="Generic placeholder image" height="170" width="170">
                <h2 >{{ food.food_name }}</h2>       
                      <div>
                          {% for tag in food.tag_set.all %}
                               <span class="label label-default">{{ tag.tag_name }}</span>
                          {% endfor %}
                      </div>
                <p>{{ food.restaurant.restaurant_name }}</p>
                <form class="rate" action="rate_food" method="POST"  id="post-form"> {% csrf_token %}
                <input id="input-22" value="{{food.food_rating}}"  type="number" class="rating" min=0 max=5 step=0.1 data-size="xs" >
                <input type="hidden" value="{{food.id}}" name="in-food">
                <input type="hidden" value="" name="in-rating" class="in-rating">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" data-food_name="{{food.food_name}}" data-food_image="{{food.food_photo.url}}" data-restaurant_image="{{food.restaurant.restaurant_photo.url}}" data-restaurant_address="{{food.restaurant.restaurant_address}}" data-restaurant_name="{{food.restaurant.restaurant_name}}">    
                   View details &raquo;
                </button>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <form action="similar_foods" method="post" id="post-sim-food"> {% csrf_token %}
                    <input type="hidden" value="{{food.id}}" name="in-food">
                    <button type="submit" class="btn btn-primary">Similar Foods &raquo;</button>
                </form>
            </div>         
        {% endfor %}
      </div> 
       
    </div>
  
         
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      
                      <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-body">
                                
                               <div class="container marketing">
                                <div class="row">  
                                    <div class="col-sm-8">
                                         <img class="showPicRest" src="" alt="Generic placeholder image"  height="300" width="500">
                                    </div>
                                    <div class="col-sm-4">
                                        <img class="img-thumbnail" src="" alt="Generic placeholder image">
                                        <p>
                                            Here you can find your food  
                                        </p>
                                        <h2>
                                            Text
                                        </h2>
                                        <p class="resAddress" class="form-control" id="recipient-name">
                                           <strong> Address: </strong> 
                                        </p>
                                    </div>             
                                 </div>  
                                </div>   
                        </div>
                        
                      </div>  
                      </div>
                    </div>
    
        
    </div>  
    
      
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="static/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/bootstrap/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

 
<script src="http://www.google.com/jsapi"></script>
<script src="http://plugins.krajee.com/assets/prod/all-krajee.js"></script>
<script src="http://plugins.krajee.com/assets/4696769/js/star-rating.min.js"></script>
<script src="http://plugins.krajee.com/assets/4696769/js/star-rating_locale_de.js"></script>
<script src="http://plugins.krajee.com/assets/ec92c13a/js/select2.full.min.js"></script>
<script src="http://plugins.krajee.com/assets/ec92c13a/js/select2-krajee.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {        
            $("#myModal").on('show.bs.modal', function(event){
                var button = $(event.relatedTarget);  // Button that triggered the modal
                var food_name = button.data('food_name'); // Extract value from data-* attributes
                var food_image = button.data('food_image');
                var restaurant_name = button.data('restaurant_name');
                var restaurant_image = button.data('restaurant_image'); 
                var restaurant_address = button.data('restaurant_address');
                $(this).find('.modal-title').text(food_name);
                $(this).find('.modal-body h2').text(restaurant_name);
                $(this).find('.showPicRest').attr('src', restaurant_image);
                $(this).find('.img-thumbnail').attr('src', food_image);
                $(this).find('.resAddress').text("Address: " + restaurant_address);  
            });
            
            $(".rating").on("rating.clear", function(event) { 
                alert("Your rating is reset")
            });
            $('.rating').on("rating.change", function(event, value, caption) {
                $('.in-rating').attr('value', value);
            });  
});
</script> 
    </body>
</html>
